<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">

  <title>History of Heroes | {% block title %} {% endblock %}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
  {% block cssfiles %} {% endblock %}

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  {% block jsfiles %} {% endblock %}
</head>
<body>
  <div class="container">
    <h1><a href="{{ url_for('home') }}">History of Heroes</a> <small>Historique de Héros sur Diablo III</small></h1>

    <ol class="breadcrumb">
      {% block breadcrumb %} {% endblock %}
    </ol>

    {% block content %} {% endblock %}

    <hr>

    <footer class="text-center">
      <ul class="list-unstyled">
        <li>History of Heroes n'est pas affilié à Blizzard Entertainment, Battle.net ou Diablo III</li>
      </ul>
      <ul class="list-unstyled list-inline">
        <li><a href="http://www.epoc.fr/"><i class="fa fa-home"></i> Créé par Epoc</a></li>
        <li><a href="https://github.com/EpocDotFr/HoH"><i class="fa fa-github"></i> Code</a></li>
      </ul>
    </footer>
  </div>

  <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip({
        container: 'body'
      });
    })
  </script>
</body>
</html>